* {
  box-sizing: border-box;
}

input {border:0;outline:0;}
input:focus {outline:none!important;}


.div1 {
  width: 800px;
  height: 1000px;
  padding: 40px;
  border: 2px solid black;
  position: relative;
  left: 280px;
  top: 40px;
}

.div2 {
  width: 700px;
  height: 900px;  
  padding: 20px;
  border: 2px solid #919691;
}

.button {
  background-color: #919691;
  border: rgb(14, 13, 13);
  color: white;
  padding: 25px 118px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 27px;
  margin: 1px;
  cursor: pointer;
  position: inherit;
  width: 58%;
}

.button2 {
  background-color: #2a312a;
  border: rgb(14, 13, 13);
  color: white;
  padding: 5px 11px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}
.column {
 
  float: center;
  width: 20%;
  padding: 10px;
  height: 90px; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
    background: #0000;
     justify-content: center;
    position: relative;
    
}

button {
    cursor: pointer;
    padding: 25px 55px;
    font-size: 25px;
}